[input]
trainImage ./data/train-images.idx3-ubyte
trainLabel ./data/train-labels.idx1-ubyte
testImage ./data/t10k-images.idx3-ubyte
testLabel ./data/t10k-labels.idx1-ubyte
[global]
loadPath ./mnist.9787.model
savePath ./mnist.9787.model
roundCount 50
memoryCount 60000
batchSize 100
trainImageCount 60000
predictImageCount 10000
predictOutputCount 0
studyRate 0.2
attenuationRate 0.912
printMemoryUsed 0
printTrainProcess 1
printPredictOutput 0
printPredictAccuracyRate 0
[model]
Input 28 28
Dense 300
Dense 10
Output
