[input]
trainImage ./data/train-images.idx3-ubyte
trainLabel ./data/train-labels.idx1-ubyte
testImage ./data/t10k-images.idx3-ubyte
testLabel ./data/t10k-labels.idx1-ubyte
[global]
loadPath ./mnist.5.model
savePath ./mnist.5.model
roundCount 10
memoryCount 60000
batchSize 100
trainImageCount 60000
predictImageCount 10000
predictOutputCount 20
studyRate 0.001
attenuationRate 1
printMemoryUsed 1
printTrainProcess 1
printPredictOutput 1
printPredictAccuracyRate 1
printModelSchema 1
[model]
Input 28 28
Convolution 20 5 1 0
Pooling 2
Convolution 50 5 1 0
Pooling 2
Dense 500
Relu
Dense 10
Output
